[TANSPEC_LR]

ContinuumFile = data/TANSPEC/LR/traces/bg_removed_star.fits
ApertureLabel = data/TANSPEC/LR/traces/ApLabel_bg_removed_star.npy
ApertureTraceFilename = data/TANSPEC/LR/traces/TANSPEC_lr_trace.pkl


[TANSPEC_XD]
ContinuumFile = data/TANSPEC/XD/traces/Skysubt_trace_hd37725xd_s4.0.fits
ApertureLabel = data/TANSPEC/XD/traces/aperturetracelabel_skysubt_hd37725_xd_s4.0.npy
ApertureTraceFilename = data/TANSPEC/XD/traces/aperturetrace_skysubt_hd37725_xd_s4.0.pkl

