[TANSPEC_LR]

ContinuumFile = bg_removed_star.fits
ApertureLabel = ApLabel_bg_removed_star.npy
ApertureTraceFilename = TANSPEC_lr_trace.pkl

[TANSPEC_XD]
ContinuumFile = Skysubt_trace_hd37725xd_s4.0.fits
ApertureLabel = aperturetracelabel_skysubt_hd37725_xd_s4.0.npy
ApertureTraceFilename = aperturetrace_skysubt_hd37725_xd_s4.0.pkl
