[inits]
# Name of the istrument
INSTRUMENT = TIRSPEC
# P for Photometry, S for spectroscopy
TODO = P
DATA = 20260109_1VR
EDITOR = gedit
# Y for timeseries extraction, N if not.
TIMESERIES = N
# Weather the pipeline running in automatic mode or manual mode.
# MODE = AUTO
MODE = MANUAL

[outputs]
# Name of output directory
OP_DIR = Reduced_data_photometry
 # Regular expression for the filenames to exclude
EXCLUDE_REG = *test*,*dark*,*sky*
CATALOGUE_NAME = ObsFiles_catalogue.txt

[visual]
# Y to display the frames.
SCIENCE = Y
FLAT = Y
LAMP = Y

[logging]
LEVEL = INFO

[inputs]
FLUXEXT = 0
VAREXT = 1
# If you have observed sky frames and you want to do sky subtraction, enter Y.
# Else, N
SKY = N
# To remove cosmic rays, keep it Y
# Else N
REMOVECR = N

# If you have your own badpixelmask, put the path name.
# To use the default badpixelmask, put Y.
# No use for badpixel mask, put N.
BADPIXMASK = Y

# combine science frames by mean, median or biweight.
FRAMECOMBINE = mean

[dither]
# Keep Y if there is dither frames, N otherwise
DITHERING = Y
# Region selected to find shift
CROP = 500 620 300 500
UPSAMPLE = 1

# Im imaging, to find the shifts in dither automatically, keep Y.
# To do it manually, keep N
AUTODITHER = Y

# If you want to align an image with another image, give the
# filename of the reference file.
# e.g.: to align frames in J band and H band,
# first generate J band frame, then give the filename here, then do for H band.
REF_FRAME = Shifted_Slope-NGC2264_D1-3_341_342_343_344_345_346_347_348_349_350_FC.fits

# This section is for spectroscopy
[spectral_extraction]
# Config for SpectrumExtractor
# Keep it blank if no specific config file
EXTRACTORCONFIG =

# Aperture Selection mode: MANUAL or AUTO
SELECT_APERTURE = MANUAL

# Windows for aperture
APERTUREWINDOW = (-12,12)
BKGWINDOWS = [(-20,-15),(15,20)]

# Background subtraction from frame. To do, Y, Else, N
SUBTRACT_BKG = N

# Combine dither frame or not
SCOMBINE = Y

# Refit the XD position of the spectrum to be extracted
# Set it to False if the XD position of the apertures need not be refitted to the data being extracted
# set is to p0 for pixel shift only, set it to p1 for a linear polynomial shift.
# set it to [(shift coeffs),(domain start, domain end)] for applying a precomputed shift
REFITAPERTUREINXD = p2

# Window of the XD pixels regions to use for fitting the XD offset if the above variable is not False
REFITAPERTUREINXD_DWINDOW = (500,1200)

# Whether to subtract a bkg estimated by median filtering using the kernal size given below before XD fiting
REFITAPERTUREINXD_BKGMEDIANFILT = 51

# Polynomial model for fitting the Aperture offset across dispersion direction. Caution: Don't use higher orders
DCOEFFMODELFORAPERREFIT = p0

# Flux calibration with the instrument response saved with the pipeline
FLUX_CALIB = Y

[wcs]

# epoch
REF_EPOCH = 2000.0

# Observation year
OBS_EPOCH = 2024.0

[photometry]

# Finding sources. AUTO to find automatically using DAOStarFinder. MANUAL to select the sources manually.
FINDSOURCE = MANUAL

# The threshold value to select sources
THRESHOLD = 50


# If selected sources saved in text file, give the filename
SOURCELIST = selected_sources.txt

# FWHM of the seeing profile
FWHM = 2.7
# PSF or Aperture photometry
# METHOD = Aperture
METHOD = PSF

# PSF MODEL
# Available profiles: CircularGaussianPSF, GaussianPSF
# MODEL = GaussianPSF
MODEL = EPSF
# For Gaussian PSF, FWHM of the gaussian along x and y axis
PSF_FWHM = (2.7, 2.7)
# Counterclockwise rotation angle either as a float in degrees
PSF_ANGLE = 0

# Fit model


# APERTURE PHOTOMETRY
# Avaliable apertures: CircularAperture, EllipticalAperture
APERTURE = CircularAperture

# Aperture radius and background aannulus for aperture photometry
# Avaliable apertures: CircularAnnulus, EllipticalAnnulus
ANNULUS = CircularAnnulus
# For circular aperture, give only one value.
# For elliptical aperture, give a, b and theta. e.g.: (9, 11, 0)
RADIUS = 10

# For circular annulus, give only two values like (15, 20).
# For elliptical annulus, give a_in, b_in, a_out, b_out and theta.
# as (a_in, b_in, a_out, b_out, theta) e.g.: (15, 13, 20, 18, 0)

BKGWINDOWS = (15, 20)